/* CSS declarations go here */

#main-div {
    width: 1000px;
    
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#main-div .title-label-header {
    font-size: 20pt;
    font-weight: bold;
}

#main-div .text-body {
    text-align: justify;
    text-indent: 35px;
}

#main-div #career-text-body div {
    margin-bottom: 15px;
}

#career-text-body .career-where {
    width: 700px;
    float: left;
    text-align: right;
}

#career-text-body .career-period {
    width: 280px;
    float: left;
}

.emphasized-text {
    font-weight: bold;
    font-size: 15pt;
}