/* CSS declarations go here */

#main-div {
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#main-div .title-label-header {
    font-size: 20pt;
    font-weight: bold;
}

#main-div .text-body {
    text-align: justify;
    text-indent: 35px;
}

#main-div #career-text-body div {
    margin-bottom: 15px;
}

#career-text-body .career-where {
    float: left;
    width: 600px;

    text-align: justify;
    /*
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    */
}

#career-text-body .career-period {
    margin: 0px;
    padding: 0px;
    /*
    border-style: dashed;
    border-width: 2px;
    border-color: red;
    */
}

#works-div #works-body {
    text-align: center;
}

#works-div #works-body .works {
    display:inline-block;

    height: 250px;
    width: 250px;    

    margin-left: 50px;
    
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#works-div #works-body .works:hover {
    background-color: red;
}

.emphasized-text {
    font-weight: bold;
    font-size: 15pt;
}