/* CSS declarations go here */

#main-div {
    width: 70%;
    
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

#main-div .title-label-header {
    font-size: 20pt;
    font-weight: bold;
}

#about-text-body {
    padding-left: 35px;
    
    text-align: justify;
    text-indent: 35px;
}

#main-div #career-body div, #links-div #links-text-body div {
    margin-bottom: 15px;
}

.entry-title , .entry-remain {
    text-indent: 35px;
    display: inline-block;
    
    padding-top: 15px;
}

.entry-title {
    width: 80%;
}

.entry-remain {
    text-align: right;
    width: 18%;
}

.entry-title div, .entry-remain div {
    margin-bottom: 15px;
}

.entry-title div:hover {
    background-color: yellow;
}

#works-div #works-body {
    text-align: center;
}

#works-div #works-body .works {
    display:inline-block;

    height: 250px;
    width: 250px;    

    margin-left: 50px;
    
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#works-div #works-body .works:hover {
    background-color: red;
}

#career-div, #post-board-div, #links-div {
    min-width: 900px;
}

.emphasized-text {
    font-weight: bold;
    font-size: 15pt;
}